<!doctype html>
<html lang="es">
  <head>
    <title>Menu Semanal</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      
    <nav class="navbar navbar-expand-lg navbar-light container">
      <a class="navbar-brand" href="../index.html"><img src="../Iconos/logo_transparent.png" width="190"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../index.html">Inicio<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../menusemanal.html">Menu Semanal</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuestros Platillos</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="../Catalogos/PlatillosPrincipales.html">Platillos Principales</a>
              <a class="dropdown-item" href="../Catalogos/Sopas.html">Sopas y Caldillos</a>
              <a class="dropdown-item" href="../Catalogos/Mariscos.html">Mariscos</a>
              <a class="dropdown-item" href="../Catalogos/Postres.html">Postres y Helados</a>
              <a class="dropdown-item" href="../Catalogos/Internacional.html">Gastronomía Internacional</a>
              <a class="dropdown-item" href="../Catalogos/PlatilloDia.html">Platillos del Dia</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="../Catalogos/Ensaladas.html">Ensaladas</a>
              <a class="dropdown-item" href="../Catalogos/Vegano.html">Platillos Veganos</a>
            </div>
          </li>
          <li>
            <div class="container text-right align-items-center">
              <a href="carrito.html"><img src="../Iconos/carritocompra.png" width="35"></a>(3)-$24.990
            </div>
          </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
          <!--ACA VA A IR EL NOMBRE DEL USUARIO SACADO DE LA BASE DE DATOS PREVIO INICIO DE SESION-->
          <a href="../login.html"><img src="../Iconos/usuario.png" alt=""></a>
        </div>
      </div>
    </nav>
    <!-- FIN DE NAVBAR -->

    <hr>
    <hr>

    <div class="container">
        <div class="row">
      
            <div class="col-md-8">
                <div class="product-details mr-2">
                    <h2>Casuela Chilena</h2>
                      <hr>
                    <h6 class="mb-0">
                      Inicio > del dia > casuela chilena
                    <div class="d-flex justify-content-between">
                    </div>
      
                    <div class="d-flex justify-content-between align-items-center mt-3 p-2 items rounded">
                        <div class="d-flex flex-row"><img class="rounded" src="../Imagenes/platillos/ramenshi.jpg" width="400">
                              <div class="ml-2">
                                  <span class="font-weight-bold d-block"><h2>Casuela Chilena</h2></span>
                                  <span class="spec"><b>Sobre el platillo: </b>
                                    El platillo consta de una delicada salsa blanca envuelta en finas 
                                    capas de pasta italiana fabricada por nuestros mejores cocineros
                                    su espectacular sabor te dejara boca abierto
                                  </span>
                                  <span class="spec"><b>Ingredientes: </b>Huevos, leche, pasta pasterizada, tomates</span>
                                  <br>
                                  <br>
                                  <span class="spec"><b>Stock: </b>
                                  <br>
                                  <hr>
                                  <h4>Precio: $2.700</h4>
                              </div>
                        </div>
                    </div>
                  </div>
               </div>
            </div>
        </div>
      
        <hr>
      
        <div class="row">
            <div class="col-sm text-center">
              <a href="../carrito.html"><button type="button" class="btn btn-success btn-lg">Comprar Ahora</button></a>
              <hr>
              <a href="../menusemanal.html"><button type="button" class="btn btn-info btn-lg">Agregar al menu semanal</button></a>
              <hr>
              <img src="../Iconos/pay-master.png" width="80">
              <img src="../Iconos/pay-khipu.png" width="80">
              <img src="../Iconos/pay-visa.png" width="80">
              <img src="../Iconos/pay-webpay.png" width="80">
              
              <hr>
      
        </div>
      
      </div>
      
      
      <!--FIN DEL CARRITO-->
      
    


    <!-- PIE DE PAGINA -->
    <footer class="piepagina">
      <div class="container-fluid text-center">
        <div class="row text-white alto align-items-center ">
          <div class="col-sm-2">
            <!--ESPACIO-->
          </div>

          <div class="col-sm-2">
            <img src="../Iconos/logo_transparent.png" width="300">
          <p class="py-5">Restaurante Especializado en Gastronomía Chilena con envió a domicilio y empresas.</p>
          </div>
    
          <div class="col-sm-2">
            <h5 class="py-5">Información</h5>
            <p class="colorchange">Quienes Somos</p>
            <p class="colorchange">Términos y condiciones</p>
            <p class="colorchange">Política de reembolso</p>
          </div>
    
          <div class="col-sm-2">
            <h5 class="py-5">Nuestros Productos</h5>
            <p class="colorchange">Platillos Principales</p>
            <p class="colorchange">Sopas y Mariscos</p>
            <p class="colorchange">Postres y Bajativos</p>
            <p class="colorchange">Ensaladas</p>
          </div>
    
          <div class="col-sm-2">
            <h5 class="py-5">Contáctanos</h5>
            <a href="https://www.instagram.com/"><img src="../Iconos/instagram.png" width="50"></a>
            <a href="https://www.whatsapp.com/?lang=es"><img src="../Iconos/whatsapp.png" width="50"></a>
            <a href="../contacto.html"><img src="../Iconos/CorreoIcono.png" width="55"></a>
          </div>

          <div class="col-sm-2">
            <!--ESPACIO-->
          </div>
        </div>
      </div>
    </footer>
    
        <!-- PIE DE PAGINA (COPRYRIGHT) -->
        <div class="container-fluid bg-dark align-items-center text-center text-white Copyright ">
          <div class="row align-items-center">
            <div class="col-12">
              <p>© Copyright - Todos los derechos reservados para Santiago Alimentos</p>
            </div>
          </div>
        </div>

    <!-- FINAL DE LA PAGINA -->      
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>