<!doctype html>
<html lang="es">
  <head>
    <title>Contacto Santiago Alimentos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light container">
        <a class="navbar-brand" href="index.html"><img src="Iconos/logo_transparent.png" width="190"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="menusemanal.html">Menu Semanal</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nuestros Platillos</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="comia.html">Platillos Principales</a>
                <a class="dropdown-item" href="sopa.html">Sopas y Caldillos</a>
                <a class="dropdown-item" href="sopa-madres.html">Mariscos</a>
                <a class="dropdown-item" href="sopa-ram.html">Postres y Helados</a>
                <a class="dropdown-item" href="sopa.html">Gastronomía Internacional</a>
                <a class="dropdown-item" href="discossd.html">Platillos del Dia</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="sopa.html">Ensaladas</a>
                <a class="dropdown-item" href="carne.html">Platillos Veganos</a>
              </div>
            </li>
            <li>
              <div class="container text-right align-items-center">
                <a href="carrito.html"><img src="Iconos/carritocompra.png" width="35"></a>(3)-$24.990
              </div>
            </li>
          </ul>
          <div class="form-inline my-2 my-lg-0">
              <a href="login.html"><img src="Iconos/usuario.png" alt=""></a>
              <a href="registrarusuario.html"><img src="Iconos/contraseña.png" alt=""></a>
          </div>
        </div>
      </nav>
<hr>

    <div class="row text-center text-center bg-dark text-white">
        <div class="col-sm"><h2>Sobre nosotros</h2></div>
    </div>

    <div class="row text-center text-center text-justify fondo text-white">
        <div class="col-sm">

            <div class="cuadrado">
                <img src="Iconos/logo_transparent.png" width="600">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <p>Somos un restaurante especialisado en la preparacion de diversos platillos nacionales y 
                            internacionales, ofresemos servicios de despacho semanal a clientes y empresas asociadas, nuestro restaurante 
                            tiene una larga tradicion desde 1994 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde nostrum, 
                            totam aut officia dolorem assumenda maiores saepe ut expedita dolor nobis magnam eius molestias alias voluptas 
                            aliquid molestiae architecto natus?
                        </p>
                    </div>
                </div>
            </div>
   
        </div>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col-sm py-5">
              <h2>Nuestra Ubicacion</h2>
              <br>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3332.2986743052443!2d-70.68019498484696!3d-33.36326768079899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c7025c925e0f%3A0x7f2f6a657c08d14a!2sDuoc%20UC%3A%20Sede%20Plaza%20Norte!5e0!3m2!1ses!2scl!4v1651865318520!5m2!1ses!2scl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              <p class="infocontacto">Lunes a viernes desde 9:00 a 21:00</p>
              <p class="infocontacto colorchange">Teléfono: +56262353028</p>
              <p class="infocontacto colorchange">Despacho: +56930925128</p>
            </div>
            <div class="col-sm py-5">
                <h2>Contactanos</h2>
    
                <form class="ordenform">
    
                  <!-- NOMBRE input -->
                  <div class="mb-3 col-xs-3">
                    <label class="form-label" for="nombre">Nombre</label>
                    <input class="form-control" id="nombre" name="nombre" type="text" placeholder="Nombre" required/>
                  </div>
              
                  <!-- EMAIL  input -->
                  <div class="mb-3 col-xs-3">
                    <label class="form-label" for="email">Correo Electronico</label>
                    <input class="form-control" id="email" name="email" type="email" placeholder="Email" required/>
                  </div>
              
                  <!-- MENSAJE input -->
                  <div class="mb-3">
                    <label class="form-label" for="mensaje">Mensaje</label>
                    <textarea class="form-control" id="mensaje" name="mensaje" type="text" placeholder="Escribe tu mensaje" style="height: 10rem;" required></textarea>
                  </div>
              
                  <!-- ENVIAR -->
                  <div class="d-grid">
                    <button class="btn btn-success btn-lg" id="enviar" type="submit">Enviar</button>
                    <button type="reset" class="btn btn-primary btn-lg">Limpiar</button>
                  </div>
              
                </form>
    
            </div>
        </div>
    </div>
    

<hr>

<footer class="piepagina">
    <div class="container-fluid text-center">
      <div class="row text-white alto align-items-center ">
        <div class="col-sm-2">
          <!--ESPACIO-->
        </div>

        <div class="col-sm-2">
          <img src="Iconos/logo_transparent.png" width="300">
        <p class="py-5">Restaurante Especializado en Gastronomía Chilena con envió a domicilio y empresas.</p>
        </div>
  
        <div class="col-sm-2">
          <h5 class="py-5">Información</h5>
          <p class="colorchange">Quienes Somos</p>
          <p class="colorchange">Términos y condiciones</p>
          <p class="colorchange">Política de reembolso</p>
        </div>
  
        <div class="col-sm-2">
          <h5 class="py-5">Nuestros Productos</h5>
          <p class="colorchange">Platillos Principales</p>
          <p class="colorchange">Sopas y Mariscos</p>
          <p class="colorchange">Postres y Bajativos</p>
          <p class="colorchange">Ensaladas</p>
        </div>
  
        <div class="col-sm-2">
          <h5 class="py-5">Contáctanos</h5>
          <a href="https://www.instagram.com/"><img src="Iconos/instagram.png" width="50"></a>
          <a href="https://www.whatsapp.com/?lang=es"><img src="Iconos/whatsapp.png" width="50"></a>
          <a href="contacto.html"><img src="Iconos/CorreoIcono.png" width="55"></a>
        </div>

        <div class="col-sm-2">
          <!--ESPACIO-->
        </div>
      </div>
    </div>
  </footer>
  
      <!-- PIE DE PAGINA (COPRYRIGHT) -->
      <div class="container-fluid bg-dark align-items-center text-center text-white Copyright ">
        <div class="row align-items-center">
          <div class="col-12">
            <p>© Copyright - Todos los derechos reservados para Santiago Alimentos</p>
          </div>
        </div>
      </div>

  <!-- FINAL DE LA PAGINA -->      
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="registrarjavascript.js"></script>
</body>
</html>
